@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */




:root{
  --lightGreen:#D4DBB1
  --darkGreen:#50653e
  --lightPink:#F5E1C9
  --darkPink:#E68F5C
  --superDark:#1b3a2a
}

@font-face {
  font-family: curvyText;
  src: url('./_assets/fonts/TT\ Ramillas\ Trial\ Medium.woff2');
}
@font-face {
  font-family: curvyTextLight;
  src: url('./_assets/fonts/TT\ Ramillas\ Trial\ Light.woff2');
}

@font-face {
  font-family: curvyTextLightItalic;
  src: url('./_assets/fonts/TT\ Ramillas\ Trial\ Light\ Italic.woff2');
}


@font-face {
  font-family: curvyTextItalic;
  src: url('./_assets/fonts/TT\ Ramillas\ Trial\ Medium\ Italic.woff2');
}



@theme{
  --lightGreen:#D4DBB1
  --darkGreen:#50653e
  --lightPink:#F5E1C9
  --darkPink:#E68F5C
  --superDark:#1b3a2a
}

@layer utilities{
  
  .heading{
    @apply font-[curvyText] text-4xl md:text-5xl
  }

  .subheading{
    @apply  text-3xl md:text-4xl 
  }
}
